<main class="h-dvh w-dvw flex items-center justify-center">
  <section class="md-card-filled h-2/4 w-1/4 p-8 flex flex-col gap-4 justify-between">
    <h1 class="text-6xl text-center py-4">LOGIN</h1>
    <form>
      <fieldset class="flex flex-col gap-4 grow justify-center">
        <div class="md-input-wrapper">
          <input placeholder="" id="email" type="email" class="md-input peer" />
          <label for="email" class="md-floating-label">Email</label>
        </div>

        <div class="md-input-wrapper">
          <input placeholder="" id="password" type="password" class="md-input peer" />
          <label for="password" class="md-floating-label">Password</label>
        </div>
      </fieldset>
      <button type="button" class="md-button-filled w-full mt-4">LOGIN</button>
    </form>
    <p class="text-center">or</p>
    <a href="/register" class="md-button-filled">CREATE A NEW ACCOUNT</a>
  </section>
</main>
