<main class="h-dvh w-dvw flex items-center justify-center">
  <section class="md-card-filled p-8 flex flex-col gap-4 justify-between">
    <h1 class="text-6xl text-center py-4">LOGIN</h1>
    <form [formGroup]="loginForm" class="w-64">
      <fieldset class="flex flex-col gap-4 grow justify-center">
        <div class="md-input-wrapper">
          <input formControlName="email" placeholder="" id="email" type="text" class="md-input peer" />
          <label for="email" class="md-floating-label">Email</label>
        </div>

        <div class="md-input-wrapper">
          <button (click)="visibilityPassword = !visibilityPassword" class="md-icon-button absolute right-0">{{visibilityPassword ? 'visibility' : 'visibility_off'}}</button>
          <input formControlName="password" placeholder="" id="password" [type]="visibilityPassword ? 'password' : 'text'" class="md-input peer" />
          <label for="password" class="md-floating-label">Password</label>
        </div>
      </fieldset>
      <button (click)="login()" type="button" class="md-button-filled w-full mt-4">LOGIN</button>
    </form>
    <a href="/register" class="md-button-filled">CREATE A NEW ACCOUNT</a>
  </section>
</main>
